# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: BSides Rijeka
description: >- # this means to ignore newlines until "baseurl:"
  First information security and cybersecurity conference in Rijeka, Croatia.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.bsidesrijeka.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: bsidesrijeka

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Custom settings
what: First information security and cyber-security conference in Rijeka, Croatia
where_name: Step Ri
where_address: Ul. Radmile Matejčić 10
where_city: 51000 Rijeka
when: Friday, May 22 2020.
at_what_time: 8:00 - 18:00
cfp_open: Thursday, December 6 2019.
cfp_deadline: Sunday, March 22 2020.
cfp_acceptance_notification: Sunday, April 2 2020.
cfp_is_open: true


# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
