<div class="grid-x header">
    <div class="header-background cell large-2 medium-1 small-1">
    </div>
    <div class="header-background cell large-10 medium-11 small-11">
        <div class="header-images clearfix">
            <img class="circle-img hide-for-small-only" src="{{ '/assets/images/circle-twitter.png' | absolute_url }}" />
            <img class="title-img" src="{{ '/assets/images/title.png' | absolute_url }}" />
            {% include nav.html nav=site.data.navigation.nav isRoot=true %}
        </div>
    </div>
</div>