
<div class="title-bar float-right" data-responsive-toggle="example-menu" data-hide-for="medium">
<button class="menu-icon" type="button" data-toggle="example-menu"></button>
</div>
<div class="top-bar" id="example-menu">
    <div class="top-bar-right">
        <ul class="{% if include.isRoot == true %}dropdown{% endif %} menu vertical medium-horizontal" {% if include.isRoot == true %}data-dropdown-menu{% endif %}>
            {% for item in include.nav %}
                {% if item.visible %}
                    <li class="{% if item.url == page.url %}active{% endif %}">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                        {% if item.subnav %}
                            {% include nav.html nav=item.subnav %}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<!-- 
 <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="example-menu"></button>
        <div class="title-bar-title">Menu</div>
      </div>
      
      <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Site Title</li>
            <li>
              <a href="#">One</a>
              <ul class="menu vertical">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
              </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
          </ul>
        </div>
      </div>
       -->