
<div class="title-bar float-right" data-responsive-toggle="example-menu" data-hide-for="medium">
<button class="menu-icon" type="button" data-toggle="example-menu"></button>
</div>
<div class="top-bar" id="example-menu">
    <div class="top-bar-right">
        <ul class="{% if include.isRoot == true %}dropdown{% endif %} menu vertical medium-horizontal" {% if include.isRoot == true %}data-dropdown-menu{% endif %}>
            {% for item in include.nav %}
                {% if item.visible %}
                    <li class="{% if item.url == page.url %}active{% endif %}">
                        <a href="{{ item.url }}">{{ item.title }}</a>
                        {% if item.subnav %}
                            {% include nav.html nav=item.subnav %}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>