
table, td, tr, th {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

tr {
    height: 60px;
}

.event {
    position: absolute;
    background-color: blue;
}

.childDiv {
    display: table;
}

#time {
    position: absolute;
    border-top: 1px solid black;
    border-bottom: 1px solid red;
    width: 100%;
    height: 200px;
    z-index: 10000;
}
